body{
    font-family: 'Playfair Display', serif;
}
.orange{
    color: orange;
}
h1{
    font-size: 55px;
    font-weight: 200;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
#f-i{
    display: flex;
    margin-bottom: 50px;
}
#s-i{
    margin-bottom: 20px;
}
.f-s{
    width: 40%;
    margin-left: 90px;
    margin-top: 130px;
}
.f-s img{
    width: 100%;
    margin-top: -35px;
}
.button{
    background-image: linear-gradient(orange, tomato, orange);
    text-decoration: none;
    padding: 15px 30px;
    color: white;
    border-radius: 40px 40px 40px 40px;
    font-weight: 700;
}
.container{
    position: relative;
}
.s-s{
    position: absolute;
    top: 10%;
    left: 60%;
    font-weight: 200;
}
.i{
    width: 100%;
}
.s-s-button{
    background-image: linear-gradient(orange, tomato, orange);
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    border-radius: 40px 40px 40px 40px;
    font-weight: 900;
    font-size: 20px;
}
.container-2{
    position: relative;
    text-align: center;
}
.t-s{
    position: absolute;
    top: 10%;
    left: 25%;
    right: 25%;
}