body{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Playfair Display', serif;
    margin: 0;
}
.orange{
    color: orange;
}
h1{
    font-size: 55px;
    font-weight: 200;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
#f-i{
    display: flex;
    margin-bottom: 50px;
}
#s-i{
    margin-bottom: 20px;
}
.f-s{
    width: 40%;
    margin-left: 90px;
    margin-top: 130px;
}
.f-s img{
    width: 100%;
    margin-top: -35px;
}
.button{
    background-image: linear-gradient(orange, tomato, orange);
    text-decoration: none;
    padding: 15px 30px;
    color: white;
    border-radius: 40px 40px 40px 40px;
    font-weight: 700;
}
.container{
    position: relative;
}
.s-s{
    position: absolute;
    top: 10%;
    left: 60%;
    right: .5%;
}
.i{
    width: 100%;
}
.s-s-button{
    background-image: linear-gradient(orange, tomato, orange);
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    border-radius: 40px 40px 40px 40px;
    font-weight: 900;
    font-size: 20px;
}
.t-s-1{
    text-align: center;
}
.i-4{
    width: 100%;
}
.recipie-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 1fr 2fr 1fr; */
    gap: 50px 50px;
    padding: 0px 7%;
}
 .recipie{
    box-shadow: 5px 10px 20px 5px #888888;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid gray; */
    padding: 20px 20px;
}